@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    src: local('Amatic SC Regular'), local('AmaticSC-Regular'),
        url('amatic-sc-v9-latin-regular.woff') format('woff');
}

html {
    font-family: "Apple Garamond", "Baskerville",
        "Times New Roman", "Droid Serif", "Times",
        "Source Serif Pro", serif;
}

h1 {
    font-family: 'Amatic SC', sans-serif;

    font-weight: normal;
    font-style: normal;

    font-size: 40px;
    line-height: 54px;
}

article h1 {
    margin-top: 32px;
    margin-bottom: 0;
}

h2, h3 {
    font-family: inherit;
    font-size: 18px;
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 0;
}

h2 {
    font-weight: bold;
    font-style: normal;
}

h3 {
    font-weight: normal;
    font-style: italic;
}

article ul, article ol {
    padding-left: 32px;
}

h1+*, h2+*, h3+* {
    margin-top: 0;
}

article>hr {
    border: none;
    border-top: 1px solid black;
    max-width: 400px;
    width: 70%;
    margin: 20px auto;
}

header, article>* {
    box-sizing: border-box;
    max-width: 616px;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin: 0 auto;
}

article {
    margin: 0 auto 120px auto;

    font-size: 18px;
    line-height: 32px;
}

blockquote {
    margin-left: 0;
    padding-left: 12px;
    border: none;
    border-left: 4px solid #eee;
    max-width: 600px;
}

article>blockquote {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 630px) {
    article>blockquote {
        margin-left: 8px;
        margin-right: 0;
        width: calc(100% - 8px);
    }
}

article>table {
    width: unset;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

table {
    border-spacing: 8px 2px;
}

code, pre {
    background: #f8f8f8;
    font-family: "SF Mono", "Menlo",
        "Inconsolata", "Fira Mono",
        "DejaVu Sans Mono",
        "Droid Sans Mono", "Source Code Pro",
        monospace;

    font-size-adjust: 0.4;
}

pre {
    overflow: auto;
}

a {
    color: #457796;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}


/* Sticky footer */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1;
}


footer {
    padding: 0 8px;

    background: #f8f8f8;
    color: #444;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
}

ul.dense {
    list-style: none;
    padding: 0;
}

article>ul.dense {
    padding: 0 8px;
}

ul.dense>li {
    display: inline;
}

ul.dense>li::after {
    content: "\00B7";
    margin: 0 12px;
}

ul.dense>li:last-child::after {
    content: "";
    margin: 0;
}

footer dt, footer dd {
    display: inline;
    margin: 0;
}

footer dt::after {
    content: ": ";
    display: inline;
}

footer dd::after {
    content: "\00B7";
    margin: 0 12px;
}

footer dd:last-child::after {
    content: "";
    margin: 0;
}

input:focus, textarea:focus {
    outline: none;
}

textarea {
    border: none;
    background: none;
    margin: 0 auto;
    padding: 0;
    font-family: "SF Mono", "Monaco",
        "Inconsolata", "Fira Mono",
        "Droid Sans Mono", "Source Code Pro",
        monospace;

    width: 100%;
    resize: none;
    overflow: hidden;
}

h1>input {
    font: inherit;
    border: none;
    background: none;
    padding: 0;

    width: 100%;
}

.shadow-control {
    visibility: hidden;
    position: fixed;
    height: auto;
    min-height: 100px;
}

.editor {
    display: none;
}

.editor textarea[name="body"] {
    height: 600px;
}

.edit .editor {
    display: block;
}

.edit .rendered {
    display: none;
}

.editor-controls {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    background: #91A238;
    padding: 10px 20px;
}

@media (min-width: 630px) {
    header {
        margin-top: 60px;
    }

    .editor-controls {
        position: fixed;
        left: auto;
        right: 20px;
        bottom: 20px;

        box-shadow: 2px 2px 8px rgba(0,0,0, 0.25);
    }
}
