.theme-red {
    --theme-main: #F44336;
    --theme-text: white;
    --theme-input: #E57373;
    --theme-link: #90CAF9;
}

.theme-pink {
    --theme-main: #E91E63;
    --theme-text: white;
    --theme-input: #F06292;
    --theme-link: #90CAF9;
}

.theme-purple {
    --theme-main: #9C27B0;
    --theme-text: white;
    --theme-input: #BA68C8;
    --theme-link: #90CAF9;
}

.theme-deep-purple {
    --theme-main: #673AB7;
    --theme-text: white;
    --theme-input: #9575CD;
    --theme-link: #90CAF9;
}

.theme-indigo {
    --theme-main: #3F51B5;
    --theme-text: white;
    --theme-input: #7986CB;
    --theme-link: #90CAF9;
}

.theme-blue {
    --theme-main: #2196F3;
    --theme-text: white;
    --theme-input: #64B5F6;
    --theme-link: #90CAF9;
}

.theme-light-blue {
    --theme-main: #03A9F4;
    --theme-text: white;
    --theme-input: #4FC3F7;
    --theme-link: #90CAF9;
}

.theme-cyan {
    --theme-main: #0097A7;
    --theme-text: white;
    --theme-input: #00BCD4;
    --theme-link: #90CAF9;
}

.theme-teal {
    --theme-main: #009688;
    --theme-text: white;
    --theme-input: #4DB6AC;
    --theme-link: #90CAF9;
}

.theme-green {
    --theme-main: #4CAF50;
    --theme-text: white;
    --theme-input: #81C784;
    --theme-link: #90CAF9;
}

.theme-light-green {
    --theme-main: #689F38;
    --theme-text: white;
    --theme-input: #8BC34A;
    --theme-link: #90CAF9;
}

.theme-lime {
    --theme-main: #D4E157;
    --theme-text: black;
    --theme-input: #E6EE9C;
    --theme-link: #1976D2;
}

.theme-yellow {
    --theme-main: #FFEE58;
    --theme-text: black;
    --theme-input: #FFF59D;
    --theme-link: #1976D2;
}

.theme-amber {
    --theme-main: #FFCA28;
    --theme-text: black;
    --theme-input: #FFE082;
    --theme-link: #1976D2;
}

.theme-orange {
    --theme-main: #F57C00;
    --theme-text: white;
    --theme-input: #FF9800;
    --theme-link: #90CAF9;
}

.theme-deep-orange {
    --theme-main: #FF5722;
    --theme-text: white;
    --theme-input: #FF8A65;
    --theme-link: #90CAF9;
}

.theme-brown {
    --theme-main: #795548;
    --theme-text: white;
    --theme-input: #A1887F;
    --theme-link: #90CAF9;
}

.theme-gray {
    --theme-main: #9E9E9E;
    --theme-text: white;
    --theme-input: #E0E0E0;
    --theme-link: #90CAF9;
}

.theme-blue-gray {
    --theme-main: #607D8B;
    --theme-text: white;
    --theme-input: #90A4AE;
    --theme-link: #90CAF9;
}


