.theme-red {
    --theme-main: #F44336;
    --theme-text: white;
    --theme-input: #E57373;
    --theme-link: #FFF59D;
}

.theme-pink {
    --theme-main: #E91E63;
    --theme-text: white;
    --theme-input: #F06292;
    --theme-link: #FFF59D;
}

.theme-purple {
    --theme-main: #9C27B0;
    --theme-text: white;
    --theme-input: #BA68C8;
    --theme-link: #90CAF9;
}

.theme-deep-purple {
    --theme-main: #673AB7;
    --theme-text: white;
    --theme-input: #9575CD;
    --theme-link: #90CAF9;
}

.theme-indigo {
    --theme-main: #3F51B5;
    --theme-text: white;
    --theme-input: #7986CB;
    --theme-link: #90CAF9;
}

.theme-blue {
    --theme-main: #2196F3;
    --theme-text: white;
    --theme-input: #64B5F6;
    --theme-link: #90CAF9;
}

.theme-light-blue {
    --theme-main: #03A9F4;
    --theme-text: white;
    --theme-input: #4FC3F7;
    --theme-link: #90CAF9;
}

.theme-cyan {
    --theme-main: #00ACC1;
    --theme-text: white;
    --theme-input: #26C6DA;
    --theme-link: #90CAF9;
}

.theme-teal {
    --theme-main: #009688;
    --theme-text: white;
    --theme-input: #4DB6AC;
    --theme-link: #90CAF9;
}

.theme-green {
    --theme-main: #4CAF50;
    --theme-text: white;
    --theme-input: #81C784;
    --theme-link: #90CAF9;
}

.theme-light-green {
    --theme-main: #7CB342;
    --theme-text: white;
    --theme-input: #9CCC65;
    --theme-link: #90CAF9;
}

.theme-lime {
    --theme-main: #C0CA33;
    --theme-text: white;
    --theme-input: #AFB42B;
    --theme-link: #1976D2;
}

.theme-yellow {
    --theme-main: #FDD835;
    --theme-text: white;
    --theme-input: #FBC02D;
    --theme-link: #1976D2;
}

.theme-amber {
    --theme-main: #FFB300;
    --theme-text: white;
    --theme-input: #FFA000;
    --theme-link: #1976D2;
}

.theme-orange {
    --theme-main: #FB8C00;
    --theme-text: white;
    --theme-input: #FFA726;
    --theme-link: #FFF59D;
}

.theme-deep-orange {
    --theme-main: #FF5722;
    --theme-text: white;
    --theme-input: #FF8A65;
    --theme-link: #FFF59D;
}

.theme-brown {
    --theme-main: #795548;
    --theme-text: white;
    --theme-input: #A1887F;
    --theme-link: #FFF59D;
}

.theme-gray {
    --theme-main: #9E9E9E;
    --theme-text: white;
    --theme-input: #E0E0E0;
    --theme-link: #90CAF9;
}

.theme-blue-gray {
    --theme-main: #607D8B;
    --theme-text: white;
    --theme-input: #90A4AE;
    --theme-link: #90CAF9;
}


