<script src="_assets/script-{{script_js_checksum}}.js" defer></script>

<div class="container">
<div class="rendered">
{{>article_revision_contents.html}}
</div>

<div class="editor">
<form action="" method="POST">

<header>
<h1><input autocomplete=off type=text name=title value="{{title}}" placeholder="Title"></h1>
</header>

<article>
<input autocomplete=off type=hidden name=base_revision value="{{revision}}">
<textarea autocomplete=off name=body placeholder="Article goes here">{{raw}}</textarea>
<textarea autocomplete=off class="shadow-control"></textarea>
</article>

<div class="editor-controls">
    <a class="cancel" href="{{slug}}">Cancel</a>
    <button type=submit>Save</button>
</div>

</form>
</div>
</div>

<footer>
<p><a id="openEditor" href="?editor">Edit</a></p>
<dl>
    <dt>Article ID</dt>
    <dd>{{article_id}}</dd>

    <dt>Revision</dt>
    <dd class="revision">{{revision}}</dd>

    <dt>Last updated</dt>
    <dd class="last-updated">{{created}}</dd>
</dl>
</footer>
