<script src="_assets/{{script_js()}}" defer></script>

<div class="container {{#edit?}}edit{{/edit}}">
<div class="rendered">
{{>article_contents.html}}
</div>

<form id="article-editor" action="" method="POST">

<div class="editor">
<div class="hero">
<header>
<h1><input autocomplete=off type=text name=title value="{{title}}" placeholder="Title" required></h1>
</header>
</div>

<article>
<p>
<input autocomplete=off type=hidden name=base_revision value="{{revision}}">
<textarea autocomplete=off name=body placeholder="Article goes here">{{raw}}</textarea>
<textarea autocomplete=off class="shadow-control"></textarea>
</p>
</article>

</div>

<div class="editor-controls">
{{#cancel_url}}
    <a class="button button-cancel cancel" href="{{.}}">Cancel</a>
{{/cancel_url}}
{{^cancel_url}}
    <button class="button button-cancel cancel" disabled>Cancel</a>
{{/cancel_url}}
    <button class="button button-default" type=submit>Save</button>
</div>
</form>

</div>

<footer>
<ul class="dense"
    ><li class="last-updated {{^last_updated}}missing{{/last_updated}}">{{#last_updated}}{{{.}}}{{/last_updated}}</li
    ><li><a id="openEditor" href="?edit" rel="nofollow">Edit</a></li
></ul>
{{>footer/items.html}}
</footer>

{{>dialog_prototypes.html}}
