<script src="_assets/script-{{script_js_checksum}}.js" defer></script>

<header>
<h1>{{title}}</h1>
</header>

<article>
<div class="rendered">
{{{rendered}}}
</div>
<div class="editor">
    <form action="" method="POST">
        <input type=hidden name=base_revision value="{{revision}}">
        <textarea autocomplete=off name=body>{{raw}}</textarea>
        <textarea autocomplete=off class="shadow-control"></textarea>
        <div class="editor-controls">
            <a class="cancel" href="{{article_id}}">Cancel</a>
            <button type=submit>Save</button>
        </div>
    </form>
</div>
</article>

<footer>
<p><a id="openEditor" href="?editor">Edit</a></p>
<dl>
    <dt>Article ID</dt>
    <dd>{{article_id}}</dd>

    <dt>Revision</dt>
    <dd class="revision">{{revision}}</dd>

    <dt>Last updated</dt>
    <dd class="last-updated">{{created}}</dd>
</dl>
</footer>
