<div class="container">
<header>
<h1>Changes</h1>
</header>

<article>
{{#link_newer}}<p><a rel="prev" href="{{.}}">Show more recent changes</a></p>{{/link_newer}}
<table>
    <tr>
        <th>Article</th>
        <th>Updated</th>
    </tr>
    {{#changes}}
    <tr>
        <td><a href="{{#.slug.is_empty()?}}.{{/.slug.is_empty()}}{{.slug}}">{{.title}}</a></td>
        <td>{{.created}}</td>
    </tr>
    {{/changes}}
</table>
{{#link_older}}<p><a rel="next" href="{{.}}">Show older changes</a></p>{{/link_older}}
</article>
</div>

{{>footer/default.html}}
