<div class="container">
<header>
<h1>Changes</h1>
</header>

<article>
<p>
    These are the {{^newer}}most recent{{/newer}} changes
    made to{{{subject_clause()}}}{{#author()}} by {{.}}{{/author()}}.
</p>

<nav><ul class="dense">
    {{#all_articles_link()}}<li><a href="{{.}}">All articles</a></li>{{/all_articles_link()}}
    {{#all_authors_link()}}<li><a href="{{.}}">All authors</a></li>{{/all_authors_link()}}
</ul></nav>

{{#newer}}<nav><ul class="dense"
    ><li><a rel="prev" href="{{.more}}">More recent changes</a></li
    ><li><a rel="first" href="{{.end}}">Most recent changes</a></li
></ul></nav>{{/newer}}
<table>
    {{#changes?}}
    <tr>
        <th>Article</th>
        <th>Updated</th>
        {{#show_authors?}}<th>Author</th>{{/show_authors}}
        <th></th>
    </tr>
    {{/changes}}
    {{#changes}}
    <tr>
        <td><a href="_revisions/{{.article_id}}/{{.revision}}">{{.title}}</a></td>
        <td>{{.created}}</td>
        {{#show_authors?}}<td>{{#..author}}<a href="{{...author_link()}}">{{.}}</a>{{/..author}}{{^..author}}<i>Anonymous</i>{{/..author}}</td>{{/show_authors}}
        <td><a href="{{.diff_link}}">change</a></td>
    </tr>
    {{/changes}}
</table>
{{^changes?}}
<p>There are no changes to show.</p>
{{/changes}}
{{#older}}<nav><ul class="dense"
    ><li><a rel="next" href="{{.more}}">Older changes</a></li
    ><li><a rel="last" href="{{.end}}">First changes</a></li
></ul></nav>{{/older}}
{{#changes?}}{{^older}}<p>There are no older changes.</p>{{/older}}{{/changes}}
</article>
</div>

{{>footer/default.html}}
