<div class=prototype id=login>
    <div class=modal-block>
        <div class=popup>
            <div class=message>
                <p>Your changes could not be saved</p>
                <p>Log in and try again</p>
            </div>
            <div class=btn-row>
                <button>Never mind</button>
                <a class=primary href='' target=login>Open login page</a>
            </div>
        </div>
    </div>
</div>

<div class=prototype id=alert>
    <div class=modal-block>
        <div class=popup>
            <div class=message></div>
            <div class=btn-row><button class=primary>OK</button></div>
        </div>
    </div>
</div>

<div class=prototype id=confirm-discard>
    <div class=modal-block>
        <div class=popup>
            <div class=message>Discard changes?</div>
            <div class=btn-row>
                <button class=primary>No</button>
                <button data-value=true>Yes</button>
            </div>
        </div>
    </div>
</div>
