<div class="container">

<div class="notice">
    <p>
        You are viewing the difference between two {{#consecutive?}}consecutive{{/consecutive}}
        revisions of <a href="_by_id/{{article_id}}">this article</a>.
    </p>
</div>

<header>
<h1>{{#title}}{{#.removed}}<span class="removed">{{.}}</span>{{/.removed}}{{#.same}}{{.}}{{/.same}}{{#.added}}<span class="added">{{.}}</span>{{/.added}}{{/title}}</h1>
</header>

<article>
<pre class="diff">{{#lines}}{{#.removed}}<span class="removed">{{.}}
</span>{{/.removed}}{{#.same}}<span class="same">{{.}}
</span>{{/.same}}{{#.added}}<span class="added">{{.}}
</span>{{/.added}}{{/lines}}</pre>
</article>
</div>

{{>footer/default.html}}
