<div class="container">

<div class="hero">
<header>
<h1>{{#title}}{{#.removed}}<span class="removed">{{.}}</span>{{/.removed}}{{#.same}}{{.}}{{/.same}}{{#.added}}<span class="added">{{.}}</span>{{/.added}}{{/title}}</h1>
</header>
</div>

<div class="notice">
    <p>
        You are viewing the difference between two {{#consecutive?}}consecutive{{/consecutive}}
        revisions of <a href="_by_id/{{article_id}}">this article</a>.
        {{#author}}This changeset was authored by <a href="{{..author_link}}">{{.}}</a>{{/author}}.
    </p>

    <p>
        See also the <a href="{{article_history_link}}">list of all changes</a> to this article
        or the article as it was <a href="{{from_link}}">before</a> and <a href="{{to_link}}">after</a> this change.
    </p>
</div>

<article>
<pre class="diff">{{#lines}}{{#.removed}}<span class="removed">{{.}}
</span>{{/.removed}}{{#.same}}<span class="same">{{.}}
</span>{{/.same}}{{#.added}}<span class="added">{{.}}
</span>{{/.added}}{{/lines}}</pre>
</article>
</div>

{{>footer/default.html}}
