<div class="container">
<header>
<h1>Search</h1>
</header>

<article>
{{#hits?}}
<p>Search results for the query <b>{{query}}</b>:</p>

<ul class="search-results default-keyboard-focus-control">
    {{#hits}}
    <li class="search-result"><a data-focusindex="{{.index}}" class="link" href="{{.link()}}"><p class="title">{{.title}}</p><p class="snippet">{{.snippet}}</p></a></li>
    {{/hits}}
</ul>
{{/hits}}

{{^hits?}}
<p>Your search for <b>{{query}}</b> gave no results.</p>
{{/hits}}

</article>
</div>

{{>footer/default.html}}
