<div class="search-container">
<form class="search keyboard-focus-control" action=_search method=GET>
    <div class="search-widget-container">
        <input data-focusindex="0" type=search name=q placeholder=Search autocomplete=off>
        <ul class="live-results search-results">
        </ul>
    </div>
</form>
<ul id="search-result-prototype" class="prototype"><li class="search-result"><a tabindex="0" class="link" href=""><span class="title"></span> &ndash; <span class="snippet"></span></a></li></ul>
<script src="_assets/{{search_js()}}" defer></script>
</div>
